.header {
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding: 40px 0;

  &-value {
    font-size: 56px;
    line-height: 56px
  }

  &-delta {
    display:inline-block;
    margin-left:-10px;
    font-size:15px;
    padding:5px 0 0 0;
  }

  &.is-shaking .header-value {
    animation: shaking 0.2s 2;
  }
}


@keyframes shaking {
  0% { transform: translateX(0); }
  33% { transform: translateX(-2px); }
  66% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}
