#app {
	position: relative;
	width:100vw;
	height:100vh;
	font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.smallcaps {
  font-size: .875em;
  letter-spacing: .15em;
  margin-right: -.15em
}

.crs {
	position: relative;
	width:100vw;
	height:100vh;
	background: linear-gradient(180deg, #009dff 0, #a8e0ff 100%, #7ac5f4 0);
	color:white;
	user-select: none;
  -webkit-tap-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.crs--theme1 {
	background: linear-gradient(180deg, #009dff 0, #a8e0ff 100%, #7ac5f4 0)
}
.crs--theme2 {
	background: linear-gradient(180deg, #695aa0 0, #eb7846)
}
.crs--theme3 {
	background: linear-gradient(180deg, #254b6e 0, #70b0e0)
}
.crs--theme4 {
	background: linear-gradient(180deg, #e58549 0, #d33d6f)
}
.crs--theme5 {
	background: linear-gradient(180deg, #9b14ff 0, #cd87ff)
}
