.ntf {
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: rgba(0,0,0,.7);
  color:white;
  font-size:16px;
  line-height:1.4em;
  padding:9px 20px 11px;
  text-align: center;
  box-sizing: border-box;
  z-index:200;

  transform: translateY(-100px);
  transition: transform 0.3s ease;
  transition-delay: 3s;

  &.is-active {
    transform: translateY(0);
    transition: transform 0.3s ease;
    transition-delay: 0;
  }
}
