.ntf {
  position: fixed;
  top:10px;
  right:10px;
  background: rgba(0,0,0,.2);
  color:white;
  font-size:16px;
  line-height:1.4em;
  padding:8px 20px;
  border-radius: 3px;
  max-width:300px;
  box-sizing: border-box;

  transform: translateX(300px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.is-active {
    transform: translateX(0);
    opacity: 1;
  }

  &.is-info {

  }

  &.is-error {

  }
}
